<div class="tipo">
<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @tipo_doc.nombre %>
</p>

<p>
  <strong>Sigla:</strong>
  <%= @tipo_doc.sigla %>
</p>

<%= link_to 'Editar', edit_tipo_doc_path(@tipo_doc), class: "btn btn-warning" %> |
<%= link_to 'Atras', tipo_docs_path, class: "btn btn-success" %>
</div>