<tr id=<%= "alumno_#{alumno.id}" %>>
        <td><%= alumno.ficha %></td>
        <td><%= alumno.nombre %></td>
        <td><%= alumno.tel %></td>
        <td><%= alumno.direccion %></td>
        <td><%= alumno.celular %></td>
        <td><%= alumno.doc %></td>
       
        
        <% if can? :manage, :all, Alumno %>
        <td><%= link_to alumno, class: "btn btn-info btn-sm", remote: true do %>
                <span class="glyphicon glyphicon-eye-open"></span>
        <% end %>
        </td>
        <td><%= link_to edit_alumno_path(alumno), class: "btn btn-warning btn-sm", remote: true do %>
                <span class="glyphicon glyphicon-edit"></span>
        <% end %>
        </td>
        <td><%= link_to alumno, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm", remote: true do %>
                <span class="glyphicon glyphicon-remote-circle"></span>
        <% end %>
        </td>
        <% elsif can? :read, Alumno %>
        <td><%= link_to alumno, class: "btn btn-info btn-sm", remote: true do %>
                <span class="glyphicon glyphicon-eye-open"></span>
        <% end %>
        </td>
        <td><%= link_to edit_alumno_path(alumno), class: "btn btn-warning btn-sm", remote: true do %>
                <span class="glyphicon glyphicon-edit"></span>
        <% end %>
        </td>
        <td><%= link_to alumno_path(alumno, :format => 'pdf'), class: "btn btn-success btn-sm" do %>
                <span class="glyphicon glyphicon-export"></span>
        <% end %>
        </td>
        <% end %>
</tr>     
