<div class='alumnos'>
<div class="panel panel-default">
<div class="panel-heading">Panel heading without title</div>
<div class="panel-body">
<p id="notice"><%= notice %></p>

<p>
  <strong>Ficha:</strong>
  <%= @alumno.ficha %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @alumno.nombre %>
</p>

<p>
  <strong>Primer apellido:</strong>
  <%= @alumno.primer_apellido %>
</p>

<p>
  <strong>Segundo apellido:</strong>
  <%= @alumno.segundo_apellido %>
</p>

<p>
  <strong>Nombre completo:</strong>
  <%= @alumno.nombre_completo %>
</p>

<p>
  <strong>Correo electronico:</strong>
  <%= @alumno.email %>
</p>

<p>
  <strong>Genero: </strong>
  <%= mostrar_genero(@alumno.genero)%>
</p>

<p>
  <strong>Tel:</strong>
  <%= @alumno.tel %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @alumno.direccion %>
</p>

<p>
  <strong>Municipio:</strong>
  <%= @alumno.municipio.nombre %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @alumno.celular %>
</p>

<p>
  <strong>Doc:</strong>
  <%= @alumno.doc %>
</p>


<p>
  <strong>Tipo doc:</strong>
  <%= @alumno.tipo_doc.nombre %>
</p>

<p>
  <strong>Fch nacimiento:</strong>
  <%= @alumno.fch_nacimiento %>
</p>

<p>
  <%= image_tag @alumno.avatar.url(:medium) %>
</p>



<p>
  <%= link_to "PDF", alumno_path(@alumno, :format => 'pdf'), class: "btn btn-default"%>
</p>

</div>
</div>
</div>