<div class="center jumbotron">
  <h1>Bienvenidos a Softec !</h1>
  <h2>
    Software de Asistencia escolar
    <a href="http://www.iepedroestrada.net/"><br>IE.Pedro Estrada</a>
  </h2>
<br>
  
</div>

<div class="col-xs-4">
    <div class="thumbnail"><br>
      <%= link_to (image_tag('imm1.jpg')), class: "imagen-header" %>
      <div class="caption">
        <h3>Que Ofrecemos</h3>
        <p>
          Los modulos son parte fundamental en el software ya que cumplen una gran tarea en el aplicativo<br>
         querido usuario si aun no conoces nuestras ofertas lo invitamos a que siga nuestro tutorial guia.
        </p>
        <p> <%= link_to "Ver",ver_path, remote: true, class: "btn btn-primary" %></p>
      </div>
    </div>
 
</div>


<div class="col-xs-4">
    <div class="thumbnail"><br>
      <%= link_to (image_tag('imm2.png')), class: "imagen-header" %>
      <div class="caption">
        <h3>Modulos</h3>
        <p>
         Los modulos son parte fundamental en el software ya que cumplen una gran tarea en el aplicativo<br>
         querido usuario si aun no conoces nuestras ofertas lo invitamos a que siga nuestro tutorial guia.
        </p>
        <p><%= link_to "Ver",v2_path, remote: true, class: "btn btn-primary" %></p>
      </div>
    </div>
 
</div>

<div class="col-xs-4">
    <div class="thumbnail"><br>
      <%= link_to (image_tag('imm3.jpg')), class: "imagen-header" %>
      <div class="caption">
        <h3>Solucion</h3>
        <p>
          Los modulos son parte fundamental en el software ya que cumplen una gran tarea en el aplicativo<br>
         querido usuario si aun no conoces nuestras ofertas lo invitamos a que siga nuestro tutorial guia.
        </p>
        <p><%= link_to "Ver",v3_path, remote: true, class: "btn btn-primary" %></p>
      </div>
    </div>
 
</div>


<hr align="left"  size="3" width="100%" />

<div class="col-xs-4">
  <%= link_to (image_tag('es1.jpg')), class: "ewwwe" %>
</div>



<div class="col-xs-4">
  <div class="immm">
  <%= link_to (image_tag('logo_footer.png')), id: "immm" %>
  </div>
</div>



<div class="col-xs-4">
  <%= link_to (image_tag('secretaria-educacion1.png')), class: "secr33" %>
</div>