<tr id=<%= "municipio_#{municipio.id}" %>>
   <td><%= municipio.nombre_departamento %></td>
   <td><%= municipio.nombre_municipio %></td>
   <td><%= municipio.nombre_centro_poblado %></td>
   <td><%= municipio.nombre %></td>
   <% if can? :manage, :all, Municipio %>
   <td><%= link_to municipio, class: "btn btn-info",  remote: true  do %>
      <span class="glyphicon glyphicon-eye-open"></span>
   <% end %>
   </td>
   <td><%= link_to edit_municipio_path(municipio), class: "btn btn-warning",  remote: true do %>
      <span class="glyphicon glyphicon-edit"></span>
   <% end %>
   </td>
   <td><%= link_to municipio, method: :delete, data: { confirm: 'Esta Seguro?' }, class: "btn btn-danger",  remote: true do %>
   <span class="glyphicon glyphicon-remote-circle"></span>
   <% end %>
   </td>
   <% elsif can? :read, Municipio %>
   <td><%= link_to municipio, remote: true, class: "btn btn-info" do %>
      <span class="glyphicon glyphicon-eye-open"></span>
   <% end %>
   </td>
   <td><%= link_to edit_municipio_path(municipio), class: "btn btn-warning",  remote: true do %>
      <span class="glyphicon glyphicon-edit"></span>
   <% end %>
   </td>
   <% end %>
</tr>     
