<div class='municipio'>
  <div class="panel panel-info">
  <div class="panel-heading">Municipios</div>
  <div class="panel-body">
<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre departamento:</strong>
  <%= @municipio.nombre_departamento %>
</p>

<p>
  <strong>Nombre municipio:</strong>
  <%= @municipio.nombre_municipio %>
</p>

<p>
  <strong>Nombre centro poblado:</strong>
  <%= @municipio.nombre_centro_poblado %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @municipio.nombre %>
</p>
</div>
</div>
</div>