<tr id=<%= "acudiente_#{acudiente.id}" %>>
        <td><%= acudiente.nombre %></td>
        <td><%= acudiente.primer_apellido %></td>
        <td><%= acudiente.segundo_apellido %></td>
        <td><%= acudiente.nombre_completo %></td>
        <td><%= acudiente.mail %></td>
        <td><%= acudiente.telefono %></td>
        <td><%= acudiente.documento %></td>
        <td><%= acudiente.tipo_doc.nombre %></td>
        <td><%= acudiente.estado_civil.nombre %></td>
        <td><%= acudiente.fch %></td>
        <td><%= acudiente.direccion %></td>
        <td><%= acudiente.municipio.nombre %></td>
        <% if can? :manage, :all, Acudiente %>
        <td><%= link_to acudiente, class: "btn btn-info", remote: true do %>
        <span class="glyphicon glyphicon-eye-open"></span>
        <% end %>
        </td>
        <td><%= link_to edit_acudiente_path(acudiente), class: "btn btn-warning", remote: true do %>
        <span class="glyphicon glyphicon-edit"></span>
        <% end %>
        </td>
        <td><%= link_to acudiente, method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: "btn btn-danger" do %>
        <span class="glyphicon glyphicon-remove-circle"></span>
        <% end %>
        </td>
        <% elsif %>
        <td><%= link_to acudiente, class: "btn btn-info btn-sm", remote: true do %>
        <span class="glyphicon glyphicon-eye-open"></span>
        <% end %>
        </td>
        <td><%= link_to edit_acudiente_path(acudiente), class: "btn btn-warning btn-sm", remote: true do %>
        <span class="glyphicon glyphicon-edit"></span>
        <% end %>
        </td>
        <% end %>
</tr>  