<tr id=<%= "comentario_#{comentario.id}" %>>
    <td><div class="round-image1-50"><%= image_tag(current_user.avatar.url(:thumb)) %></td></div>
    <td><%= comentario.asunto %></td>
    <td><%= comentario.mensaje %></td>
    <% if can? :manage, Comentario %>
    <td><%= link_to comentario, class: "btn btn-info", remote: true do  %>
        <span class="glyphicon glyphicon-eye-open"></span>
    <% end %>
    </td>
    <td><%= link_to edit_comentario_path(comentario), class: "btn btn-warning", remote: true do  %>
        <span class="glyphicon glyphicon-edit"></span>
    <% end %>
    </td>
   <td><%= link_to comentario, data: { method: :delete, remote: true, confirm: "Esta seguro"}, class: "btn btn-danger" do %>
        <span class="glyphicon glyphicon-remove"></span>
    <% end %>
    </td>
    <% elsif can? :read, Comentario %>
    <td><%= link_to comentario, remote: true, class: "btn btn-info"  do %>
        <span class="glyphicon glyphicon-eye-open"></span>
    <% end %>
    </td>
     
    <% end %>
</tr>     