<%= simple_form_for(@comentario, :html => { :class => 'form-horizontal', remote: true } ) do |f| %>

  <% if @comentario.errors.any? %>
	<div id="error_explanation">
  	<h2><%= pluralize(@comentario.errors.count, "error") %> prohibited this municipio from being saved:</h2>

  	<ul>
  	<% @comentario.errors.full_messages.each do |message| %>
    	<li><%= message %></li>
  	<% end %>
  	</ul>
	</div>
  <% end %>

<div class="panel panel-default">
  <div class="panel-heading">Panel heading without title</div>
  <div class="panel-body">
  <div class="form-group">
   	<label for="name" class="col-sm-3 control-label">Nombre</label>
   	<div class="col-md-4">
      	<%= f.input_field :nombre, class: 'form-control', :required => true, title: "Usted debe ingresar su nombre" %>
   	</div>
  </div>
  
  
  <div class="form-group">
   	<label for="name" class="col-sm-3 control-label">Correo electronico</label>
   	<div class="col-md-4">
      	<%= f.input_field :mail, class: 'form-control', :required => true, title: "Usted debe ingresar un correo electronico" %>
   	</div>
  </div>
  
  <div class="form-group">
   	<label for="name" class="col-sm-3 control-label">Asunto</label>
   	<div class="col-md-4">
      	<%= f.input_field :asunto, class: 'form-control',:required => true, title: "Usted debe ingresar un asunto" %>
   	</div>
  </div>
  
  <div class="form-group">
   	<label for="name" class="col-sm-3 control-label">Mensaje</label>
   	<div class="col-md-4">
      	<%= f.text_area :mensaje, class: 'form-control', :required => true, title: "Usted debe ingresar un mensaje" %>
   	</div>
  </div>

  <div class="form-group">
	<div class="col-sm-offset-2 col-sm-10">
  	<%= f.submit "Guardar", class: "btn btn-sm btn-success" %>
	</div>
  </div>
 </div>
</div>
<% end %>
