<div class='comentario'>
  <div class="panel panel-info">
  <div class="panel-heading"></div>
  <div class="panel-body">
<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @comentario.nombre %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @comentario.mail %>
</p>

<p>
  <strong>Asunto:</strong>
  <%= @comentario.asunto %>
</p>

<p>
  <strong>Mensaje:</strong>
  <%= @comentario.mensaje %>
</p>


</div>
</div>
</div>