<div class="container">
  <div class="BannerImagen">
    <%= link_to (image_tag('bannerLogin.jpg')), class: "bannerLo" %>
  </div>
  <div class="BannerText">
    <h2 class="ttituloLogin">Sistema de Educacion y <br> Registro Online</h2>
  </div>
</div>

<div class="SloganHeader">
  <%= link_to (image_tag('Logo-soft.png')), id: "bannerLol" %>
</div>

<div class="authform">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f| %>
    
    <%= devise_error_messages! %>
    <div class="form-group">
      <%- if devise_mapping.registerable? %>
        <%= link_to 'Registrarse', new_registration_path(resource_name), class: 'right', id: "ovi2" %>
      <% end -%>
      <%= f.label :correo_electronico %>
      <%= f.email_field :email, :autofocus => true, class: 'form-control', :required => true, title: "Usted debe ingresar un correo electronico", placeholder: "correo electronico" %>
    </div>
    <div class="form-group">
      <%- if devise_mapping.recoverable? %>
        <%= link_to "多No puedes acceder a tu cuenta?", new_password_path(resource_name), class: 'right', id: "olvi" %>
      <% end -%>
      <%= f.label :contrase単a %>
      <%= f.password_field :password, class: 'form-control', :required => true, title: "Usted debe ingresar una contrase単a", placeholder: "contrase単a" %>
    </div>
      <%= f.submit 'Entrar', :class => 'button right' %>
      <% if devise_mapping.rememberable? -%>
        <div class="checkbox" style="width:150px">
          <label>
            <%= f.check_box :remember_me %> Recordarme
          </label>
        </div>
      <% end -%>
  <% end %>

</div>