<%= form_for(@horario) do |f| %>
  <% if @horario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@horario.errors.count, "error") %> prohibited this horario from being saved:</h2>

      <ul>
      <% @horario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Asistencia: <br>
    <%= f.radio_button(:asiste, true) %> Asiste<br>
    <%= f.radio_button(:asiste, false) %> Falto<br>
  </div>
  <div class="field">
    <%= f.label :fch %><br>
    <%= f.datetime_select :fch %>
  </div>
  <div class="field">
    Curso: <br>
    <%= f.collection_select :curso_id, Curso.all, :id, :nombre, class: "form-control", prompt: "Seleccione Municipio" %>
  </div>
  <div class="field">
    Profesor: <br>
    <%= f.collection_select :profesor_id, Profesor.all, :id, :nombre, class: "form-control", prompt: "Seleccione Municipio" %>
  </div>
  <div class="field">
    Alumno:  <br>
    <%= f.collection_select :alumno_id, Alumno.all, :id, :nombre_completo, class: "form-control", prompt: "Seleccione Municipio" %>
  </div>
  <div class="actions">
    <%= f.submit "Guardar", class: "btn btn-success" %>
  </div>
<% end %>
