<tr id=<%= "horario_#{horario.id}" %>>
        <td><%= mostrar_asistencia(horario.asiste) %></td>
        <td><%= horario.fch %></td>
        <td><%= horario.curso.nombre %></td>
        <td><%= horario.profesor.nombre %></td>
        <td><%= horario.alumno.nombre_completo %></td>
        <% if can? :manage, :all, Horario %>
        <td><%= link_to horario, class: "btn btn-info", remote: true do %>
                <span class="glyphicon glyphicon-eye-open"></span>
        <% end %>
        </td>
        <td><%= link_to edit_horario_path(horario), class: "btn btn-warning", remote: true do %>
                <span class="glyphicon glyphicon-edit"></span>
        <% end %>
        </td>
        <td><%= link_to horario, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger", remote: true do %>
                <span class="glyphicon glyphicon-remote-circle"></span>
        <% end %>
        </td>
        <% elsif can? :read, Horario %>
        <td><%= link_to horario, class: "btn btn-info btn-sm", remote: true do %>
                <span class="glyphicon glyphicon-eye-open"></span>
        <% end %>
        </td>
        <td><%= link_to edit_horario_path(horario), class: "btn btn-warning btn-sm", remote: true do %>
                <span class="glyphicon glyphicon-edit"></span>
        <% end %>
        </td>
        <% end %>
</tr>  