<div class='municipio'>
<div class="panel panel-info">
<div class="panel-heading"></div>
<div class="panel-body">
<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha Incio:</strong>
  <%= @horario.fch_ini %>
</p>

<p>
  <strong>Fecha Terminaciono:</strong>
  <%= @horario.fch_fin %>
</p>

<p>
  <strong>Dia de la semana:</strong>
  <%= @horario.diasSemana %>
</p>

<p>
  <strong>Profesor:</strong>
  <%= @horario.profesor.nombre %>
</p>

<%= link_to 'Edit', edit_horario_path(@horario), class: "btn btn-warning" %> |
<%= link_to 'Back', horarios_path,  class: "btn btn-success"  %>
</div>
</div>
</div>