<h1>Listado de horarios</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Asiste</th>
      <th>Fecha</th>
      <th>Curso</th>
      <th>Profesor</th>
      <th>Alumno</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @horarios.each do |horario| %>
      <tr>
        <td><%= mostrar_asistencia(horario.asiste) %></td>
        <td><%= horario.fch %></td>
        <td><%= horario.curso.nombre %></td>
        <td><%= horario.profesor.nombre %></td>
        <td><%= horario.alumno.nombre_completo %></td>
        <td><%= link_to 'Mostrar', horario, class: "btn btn-info" %></td>
        <td><%= link_to 'Editar', edit_horario_path(horario), class: "btn btn-warning" %></td>
        <td><%= link_to 'Eliminar', horario, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo', new_horario_path, class: "btn btn-default" %>
