<tr id=<%= "consultation_#{consultation.id}" %>>
       
        <td><%= link_to consultation.alumno.nombre_completo, consultation, remote: true %></td>
        <td><%= link_to consultation.curso.nombre, curso_path(consultation.curso_id), remote: true %></td>
        <td><%= link_to consultation.grupo.nombre, curso_grupos_path(consultation.grupo_id), remote: true %></td>
        <td><%= consultation.horario.asiste %></td>
        <td><%= consultation.institucion.cod %></td>
        <td><%= consultation.sucursal.cod %></td>
        <td><%= link_to consultation.profesor.nombre_completo, profesor_path(consultation.profesor_id), remote: true %></td>
        <td><%= link_to consultation.user.name, user_path(consultation.user_id), remote: true %></td>
        <% if can? :manage, :all, Consultation %>
        <td><%= link_to consultation, class: "btn btn-info btn-sm", remote: true do %>
          <span class="glyphicon glyphicon-eye-open"></span>
        <% end %>
        </td>
        <td><%= link_to edit_consultation_path(consultation), class: "btn btn-warning btn-sm",remote: true do %>
          <span class="glyphicon glyphicon-eye-edit"></span>
        <% end %>
        </td>
        <td><%= link_to consultation, method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: "btn btn-danger btn-sm" do %>
          <span class="glyphicon glyphicon-remote-circle"></span>
        <% end %>
        </td>
        <% elsif can? :read, Consultation %>
          <td><%= link_to consultation, class: "btn btn-info btn-sm", remote: true do %>
          <span class="glyphicon glyphicon-eye-open"></span>
        <% end %>
        </td>
        <td><%= link_to edit_consultation_path(consultation), class: "btn btn-warning btn-sm", remote: true do %>
          <span class="glyphicon glyphicon-edit"></span>
        <% end %>
        </td>
        <% end %>
</tr>   