<tr id=<%= "assistance_#{assistance.id}" %>>
        <td><%= check_box_tag "assistance_ids[]", assistance.id %></td>
        <td><%= assistance.alumno.nombre_completo %></td>
        <td><%= assistance.profesor.nombre %></td>
        <td><%= assistance.curso.nombre %></td>
        <td><%= assistance.grupo.nombre %></td>
        <td><%= assistance.horario.asiste %></td>
        <td><%= assistance.fch %></td>
        <% if can? :manage, :all, Assistance %>
        <td class="success"><%= link_to 'Mostrar', assistance, class: "btn btn-info btn-sm", remote: true  %></td>
        <td class="success"><%= link_to 'Editar', edit_assistance_path(assistance), class: "btn btn-warning btn-sm", remote: true  %></td>
        <td class="success"><%= link_to 'Eliminar', assistance, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm", remote: true  %></td>
        <% elsif can? :read, Assistance %>
        <td><%= link_to 'Mostrar', assistance, remote: true, class: "btn btn-info btn-sm" %></td>
        <% end %>
</tr>