<div class="panel panel-success">
<div class="panel-body">
<%= simple_form_for(@assistance, :html => { :class => 'form-horizontal', remote: true } ) do |f| %>

  <% if @assistance.errors.any? %>
	<div id="error_explanation">
  	<h2><%= pluralize(@assistance.errors.count, "error") %> prohibited this assistance from being saved: </h2>

  	<ul>
  	<% @assistance.errors.full_messages.each do |message| %>
    	<li><%= message %></li>
  	<% end %>
  	</ul>
	</div>
  <% end %>

  <div class="form-group">
   	<label for="name" class="col-sm-3 control-label">Estudiante: </label>
   	<div class="col-md-4">
      	<%= f.collection_select :alumno_id, Alumno.all, :id, :nombre_completo, {}, class: "form-control", prompt: "Seleccione Estudiante" %>
   	</div>
  </div>
  
   <div class="form-group">
   	<label for="name" class="col-sm-3 control-label">Profesor: </label>
   	<div class="col-md-4">
      	<%= f.collection_select :profesor_id, Profesor.all, :id, :nombre,{}, class: "form-control", prompt: "Seleccione docente" %>
   	</div>
  </div>
  
   <div class="form-group">
   	<label for="name" class="col-sm-3 control-label">Curso: </label>
   	<div class="col-md-4">
      	<%= f.collection_select :curso_id, Curso.all, :id, :nombre, {}, class: "form-control", prompt: "Seleccione curso" %>
   	</div>
  </div>
  
   <div class="form-group">
   	<label for="name" class="col-sm-3 control-label">Grupo: </label>
   	<div class="col-md-4">
   	 <div class="selectpicker">
      	<%= f.collection_select :grupo_id, Grupo.all, :id, :nombre, {}, class: "form-control", prompt: "Seleccione grupo" %>
   	</div>
   	</div>
  </div>
  
   <div class="form-group">
   	<label for="name" class="col-sm-3 control-label">Horario: </label>
   	<div class="col-md-4">
      	<%= f.collection_select :horario_id, Horario.all, :id, :asiste, { }, :class => 'form-control', prompt: "Seleccione horario" %>
   	</div>
  </div>
  
    <div class="form-group">
   	<label for="name" class="col-sm-3 control-label">Horario: </label>
   	<div class="col-md-4">
       <%= f.text_field :fch, 'data-provide' => "datepicker", class: "form-control", size: "40", width: "20", heigth: "62" %>
   	</div>
  </div>

  <div class="form-group">
	<div class="col-sm-offset-2 col-sm-10">
  	<%= f.submit "Guardar", class: "btn btn-sm btn-success" %>
	</div>
  </div>

<% end %>

</div>
</div>