<div class='assistance'>
<div class="panel panel-success">
<div class="panel-body">
<p id="notice"><%= notice %></p>

<p>
  <strong>Alumno:</strong>
  <%= @assistance.alumno.nombre_completo %>
</p>

<p>
  <strong>Profesor:</strong>
  <%= @assistance.profesor.nombre %>
</p>

<p>
  <strong>Curso:</strong>
  <%= @assistance.curso.nombre %>
</p>

<p>
  <strong>Grupo:</strong>
  <%= @assistance.grupo.nombre %>
</p>

<p>
  <strong>Horario:</strong>
  <%= @assistance.horario.asiste %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @assistance.fch %>
</p>

</div>
</div>
</div>