<tr id=<%= "user_#{user.id}" %>>
   <td><%= user.name%></td>
   <% @assignments = Assignment.where(user_id: user.id).all %>
   <% @assignments.each do |a| %>
   <td><%= a.role.name %></td>
   <% end %>
   <td><%= link_to 'Mostrar', user, remote: true, class: "btn btn-info" if can? :read, User  %></td>
   <td><%= link_to 'Editar', edit_user_path(user), remote: true, class: "btn btn-warning"  %></td>
   <td><%= link_to 'Eliminar', user, method: :delete, data: { confirm: 'Esta Seguro?' }, remote: true, class: "btn btn-danger" %></td>

</tr>  