<%= simple_form_for(@curso, :html => { :class => 'form-horizontal', remote: true } ) do |f| %>

 <% if @curso.errors.any? %>
	<div id="error_explanation">
 <h2><%= pluralize(@curso.errors.count, "error") %> No se podido guardar el curso:</h2>

 <ul>
  	<% @curso.errors.full_messages.each do |message| %>
    	<li><%= message %></li>
 <% end %>
  	</ul>
	</div>
  <% end %>

<div class="panel panel-success">
  <div class="panel-body">
 <h2>Registro Curso</h2>
  <div class="form-group">
   	<label for="name" class="col-sm-3 control-label">Nombre</label>
   	<div class="col-md-4">
      	<%= f.input_field :nombre, class: 'form-control' %>
   	</div>
  </div>
  
   <div class="form-group">
   	<label for="name" class="col-sm-3 control-label">Descripcion</label>
   	<div class="col-md-4">
      	<%= f.text_area :descripcion, class: 'form-control' %>
   	</div>
  </div>
  
   <div class="form-group">
   	<label for="name" class="col-sm-3 control-label">Fecha Inicio</label>
   	<div class="col-md-4">
      	<%= f.text_field :fch_ini, 'data-provide' => "datepicker", class: "form-control", size: "40", width: "20", heigth: "62" %>
   	</div>
   	</div>
  </div>
  
   <div class="form-group">
   	<label for="name" class="col-sm-3 control-label">Fecha Final</label>
   	<div class="col-md-4">
      	<%= f.text_field :fch_fin, 'data-provide' => "datepicker", class: "form-control", size: "40", width: "20", heigth: "62" %>
   	</div>
   	</div>
  </div>

 <div class="form-group">
	<div class="col-sm-offset-2 col-sm-10">
  	<%= f.submit "Guardar", class: "btn btn-sm btn-success" %>
	</div>
 </div>

</div>
</div>
<% end %>
