<div class='cursos'>
 <div class="panel panel-default">
  <div class="panel-body">
<p id="notice"><%= notice %></p>

<h2>Mostrar cursos</h2>
<p>
  <strong>Nombre:</strong>
  <%= @curso.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @curso.descripcion %>
</p>

<p>
  <strong>Fch ini:</strong>
  <%= @curso.fch_ini %>
</p>

<p>
  <strong>Fch fin:</strong>
  <%= @curso.fch_fin %>
</p>


<p>
  <%= link_to "PDF", curso_path(@curso, :format => 'pdf'), class: "btn btn-default"%>
</p>
</div>
</div>
</div>