<div class='cursos'>
<div class="panel panel-info">
<div class="panel-heading"></div>
<div class="panel-body">  
<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @curso.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @curso.descripcion %>
</p>

<p>
  <strong>Fch ini:</strong>
  <%= @curso.fch_ini %>
</p>

<p>
  <strong>Fch fin:</strong>
  <%= @curso.fch_fin %>
</p>
</div>
</div>
</div>