<tr id=<%= "estudiante_#{estudiante.id}" %>>
        <td><%= estudiante.pr_nombre %></td>
        <td><%= estudiante.sr_nombre %></td>
        <td><%= estudiante.pr_apellido %></td>
        <td><%= estudiante.sr_apellido %></td>
        <td><%= estudiante.mail %></td>
        <td><%= estudiante.tipo_doc.nombre %></td>
        <td><%= estudiante.num_doc %></td>
        <td><%= estudiante.municipio_id %></td>
        <td><%= mostrar_genero(estudiante.genero) %></td>
        <td><%= estudiante.fch_nacimiento %></td>
        <td><%= estudiante.direccion %></td>
        <td><%= estudiante.telefono %></td>
        <% if can? :manage, Estudiante %>
        <td><%= link_to 'Mostrar', estudiante, class: "btn btn-info", remote: true %></td>
        <td><%= link_to 'Editar', edit_estudiante_path(estudiante), class: "btn btn-warning", remote: true %></td>
        <td><%= link_to 'Eliminar', estudiante, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger", remote: true %></td>
        <% elsif can? :read, Estudiante %>
        <td><%= link_to 'Mostrar', estudiante, class: "btn btn-info", remote: true %></td>
        <% end %>
</tr> 