<tr id=<%= "institucion_#{institucion.id}" %>>
    <td><%= institucion.cod %></td>
    <td><%= institucion.nombre %></td>
    <td><%= institucion.email %></td>
    <td><%= institucion.direccion %></td>
    <td><%= institucion.telefono %></td>
    <% if can? :manage, :all, Institucion %>
        <td><%= link_to institucion, class: "btn btn-info btn-sm", remote: true do %>
             <span class="glyphicon glyphicon-eye-open"></span>
         <% end %>
        </td>
        <td><%= link_to edit_institucion_path(institucion), class: "btn btn-warning btn-sm", remote: true do %>
            <span class="glyphicon glyphicon-edit"></span>
        <% end %>
        </td>
        <td><%= link_to institucion, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm", remote: true do %>
            <span class="glyphicon glyphicon-remote-circle"></span>
        <% end %>
        </td>
        <td><%= link_to institucion_sucursals_path(institucion.id), class: "btn btn-default btn-sm" do %>
            <span class="glyphicon glyphicon-share"></span>
        <% end %>
        </td>
    <% elsif can? :read, Institucion %>
        <td><%= link_to institucion, remote: true, class: "btn btn-info btn-sm"  do %>
        <span class="glyphicon glyphicon-eye-open"></span>
        <% end %>
        </td>
        <td><%= link_to edit_institucion_path(institucion), class: "btn btn-warning btn-sm", remote: true do %>
         <span class="glyphicon glyphicon-edit"></span>
        </td>
        <% end %>
        
    <% end %>
</tr>  