<div class="instituciones">
  <div class="panel panel-info">
  <div class="panel-heading"></div>
  <div class="panel-body">
<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @institucion.cod %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @institucion.nombre %>
</p>

<p>
  <strong>Correo electronico:</strong>
  <%= @institucion.email %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @institucion.direccion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @institucion.telefono %>
</p>

</div>
</div>
</div>