<%= form_for(@consultum) do |f| %>
  <% if @consultum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@consultum.errors.count, "error") %> prohibited this consultum from being saved:</h2>

      <ul>
      <% @consultum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :alumno_id %><br>
    <%= f.text_field :alumno_id %>
  </div>
  <div class="field">
    <%= f.label :curso_id %><br>
    <%= f.text_field :curso_id %>
  </div>
  <div class="field">
    <%= f.label :grupo_id %><br>
    <%= f.text_field :grupo_id %>
  </div>
  <div class="field">
    <%= f.label :horario_id %><br>
    <%= f.text_field :horario_id %>
  </div>
  <div class="field">
    <%= f.label :institucion_id %><br>
    <%= f.text_field :institucion_id %>
  </div>
  <div class="field">
    <%= f.label :sucursal_id %><br>
    <%= f.text_field :sucursal_id %>
  </div>
  <div class="field">
    <%= f.label :profesor_id %><br>
    <%= f.text_field :profesor_id %>
  </div>
  <div class="field">
    <%= f.label :assistance_id %><br>
    <%= f.text_field :assistance_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
