<p id="notice"><%= notice %></p>

<p>
  <strong>Alumno:</strong>
  <%= @consultum.alumno %>
</p>

<p>
  <strong>Curso:</strong>
  <%= @consultum.curso %>
</p>

<p>
  <strong>Grupo:</strong>
  <%= @consultum.grupo %>
</p>

<p>
  <strong>Horario:</strong>
  <%= @consultum.horario %>
</p>

<p>
  <strong>Institucion:</strong>
  <%= @consultum.institucion %>
</p>

<p>
  <strong>Sucursal:</strong>
  <%= @consultum.sucursal %>
</p>

<p>
  <strong>Profesor:</strong>
  <%= @consultum.profesor %>
</p>

<p>
  <strong>Assistance:</strong>
  <%= @consultum.assistance %>
</p>

<%= link_to 'Edit', edit_consultum_path(@consultum) %> |
<%= link_to 'Back', consulta_path %>
