<footer class="footer small">
    
    <div class="col-xs-4">
        <strong>Información</strong></br>
            <address>
            <br>
            Administradores del Sistema</br>
            Más acerca del Sistema de Asistencia escolar</br>
            Fuentes de información del Sistema</br>
            Indicador Multidimensional de la Calidad Educativa</br>
            Facilidad en desarrollo de calidad</br>
            </address>
    </div>

    <div class="col-xs-4">
       <address>
            <strong>Contacto</strong></br>
            <br>
            Envigado-Antioquia</br>
            Secretaría de Educación y Cultura de Envigado</br>
            Calle 38 Sur Nº 45 A 87 - Piso 5. Barrio Alcalá - Envigado</br>
            Tel&eacute;fono: <strong>(57+4) 339 4000 ext. 4123</strong></br>
            Lunes a viernes 7:00 a.m a 12:00 m. y 1:00 p.m. a 5:00 p.m.<br>
            Web: <strong><a href="http://www.iepedroestrada.net/">www.iepedroestrada.net</a></strong></br>
            Itagüí - Antioquia - Colombia
        </address>
    </div>
    
    <div class="col-xs-4">
        <h6 class="redS">Redes Sociales</h6>
        <ul class="list-unstyled-2">
             <li><a href="http://www.facebook.com"><%= link_to (image_tag('facebook-icon.png')), class: "imag2" %></a></li>
             <li><a href="http://www.twitter.com"><%= link_to (image_tag('twitter-icon.png')), class: "imag2" %></a></li>
        </ul>
        <br><br>
        <ul class="list-unstyled-1">
          <li><%= link_to "Acerca", about_path %></li><br>
          <li><%= link_to "Contacto", new_comentario_path %></li><br>
          <li><%= link_to "Ayuda",   help_path %></li>
        </ul>
    </div>

<div class="text-center">
  <p>
   &copy 2.015 Software diseñado y elaborado Aprendices del SENA, Medellin-Colombia. Derechos reservados.
  </P>
</div>


    
</footer>